/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html body {
  background-image: url(/assets/background5.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
}
html h2 {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
}
html p {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  text-align: center;
}
html nav {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}
html nav .logo {
  width: 33.3%;
}
html nav .nav-bar {
  width: 33.3%;
}
html nav .phone-number {
  width: 33.3%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
html nav .phone-number p {
  color: white;
  font-weight: bold;
  padding-right: 20px;
}
html nav .phone-number .fa-phone {
  color: white;
  font-weight: bold;
  padding-right: 10px;
  font-size: 20px;
}
html nav p {
  display: flex;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  margin: 10px;
}
html nav ul {
  margin: 10px;
  height: 40px;
  display: flex;
  align-items: center;
}
html nav a {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-decoration: none;
  margin: 15px;
  color: black;
}
html header {
  display: flex;
  justify-content: space-evenly;
  height: 90vh;
  align-items: center;
  background: #edeeee;
  background: linear-gradient(180deg, #edeeee 0%, rgba(231, 234, 236, 0.01) 50%, #f2f5f6 100%);
}
html header .header-img-container .overlay {
  width: 75%;
}
html header .header-title-container {
  width: 40%;
}
html header .header-title-container p {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.25;
}
html header .header-title-container .cta-button {
  margin: 30px 50px 10px 50px;
  padding: 10px;
  border: solid 2px lightblue;
  border-radius: 30px;
}
html header .header-title-container .cta {
  font-size: 16px;
}
html header .subtitle {
  margin: 50px 0px;
}
html .main {
  background: white;
}
