header {
  display: flex;
  justify-content: space-between;
  min-height: 600px;
  align-items: center;
  background: rgb(237, 238, 238);
  background: linear-gradient(
    180deg,
    rgba(237, 238, 238, 1) 0%,
    rgba(231, 234, 236, 0.01) 50%,
    rgba(242, 245, 246, 1) 100%
  );
  .mobile-only {
    display: none;
  }
  .header-img-container {
    width: 50%;
  }

  div {
    width: 80%;
    margin: 0 auto;

    .overlay {
      width: 100%;
    }
  }
  .header-title-container {
    width: 50%;
    p {
      font-size: 24px;
      font-family: "Montserrat", sans-serif;
      line-height: 1.25;
    }
    .cta {
      font-size: 16px;
    }
  }
  .subtitle {
    margin: 50px 0px;
  }
  @media @phone {
    flex-direction: column;
    padding: 20px 0px;

    .mobile-only {
      display: block;
    }

    h2 {
      font-size: 30px;
    }

    br {
      display: none;
    }

    .header-img-container {
      display: none;
    }

    .header-title-container {
      width: 90%;

      p {
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        line-height: 1.25;
        display: block;
      }

      .subtitle {
        margin: 0px 0px;
      }
      .cta {
        font-size: 14px;
      }
    }
    .cta-button {
      border: solid 2px black;
    }
    .phone-number {
      p {
        font-weight: bold;
        font-size: 16px;
      }
      .fa-phone {
        font-size: 16px;
      }
    }
  }
}
.phone-number {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-weight: bold;
    color: black;
  }
  .fa-phone {
    font-weight: bold;
    padding-right: 10px;
    font-size: 20px;
    color: black;
  }
}
.cta-button {
  margin: 30px auto 10px auto;
  padding: 10px;
  border: solid 2px lightblue;
  border-radius: 30px;
  max-width: 425px;
  cursor: pointer;
}
.button-container {
  display: flex;
  justify-content: center;
}
.cta-2-button {
  margin: 30px auto 10px auto;
  padding: 10px;
  border: solid 2px lightblue;
  border-radius: 30px;
  max-width: 250px;
  background: none;
  p {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
  }
}
.top {
  width: 70%;
  margin: 0 auto;
}

.main {
  background: white;
  padding: 100px 0px;
}

@media @phone {
  .top {
    width: 90%;
  }
  .main {
    padding: 20px 0px;
  }
}

.main-mid-container {
  background: rgb(237, 238, 238);
  background: linear-gradient(
    180deg,
    rgba(237, 238, 238, 1) 0%,
    rgba(231, 234, 236, 0.01) 50%,
    rgba(242, 245, 246, 1) 100%
  );
}
.mid {
  width: 85%;
  display: flex;
  margin: 0 auto;
  padding: 50px 0px;
  justify-content: space-between;
  align-items: center;

  p {
    text-align: center;
    line-height: 1.75;
  }
  h3 {
    font-size: 24px;
    text-align: left;
    padding: 0px;
    margin: 50px 0px;
  }

  .mid-checklist {
    width: 50%;
  }
  .mid-image-container {
    width: 100%;

    div {
      width: 100%;
      img {
        width: 33.3%;
      }
    }
  }
}

.mid-2-main-container {
  padding: 100px 0px;
  background: white;
}
.mid-2 {
  width: 80%;
  display: flex;
  margin: 0 auto;
  padding: 100px 0px;
  justify-content: space-evenly;
  align-items: center;
}

#contact {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background: rgb(237, 238, 238);
  background: linear-gradient(
    180deg,
    rgba(237, 238, 238, 1) 0%,
    rgba(231, 234, 236, 0.01) 50%,
    rgba(242, 245, 246, 1) 100%
  );
  padding: 100px 0px;

  h2 {
    margin: 0px 0px 20px 0px;
  }
}
.bottom-image-container {
  img {
    max-height: 200px;
  }
}
.bottom-content-container {
  width: 40%;
}
@media @phone {
  .mid {
    width: 100%;
    flex-direction: column;

    .mid-image-container {
      width: 100%;
      height: auto;
      div {
        display: flex;
        justify-content: center;
        height: auto;
        img {
          height: auto;
        }
      }
    }

    .mid-checklist {
      width: 90%;
    }

    h3 {
      text-align: center;
    }
  }
  .mid-2-main-container {
    padding: 50px 0px;
  }
  .mid-2 {
    padding: 50px 0px;
  }
}

@media @phone {
  #contact {
    padding: 50px 0px;
  }
  .bottom-image-container {
    margin: 30px 0px;
  }
  .bottom-content-container {
    width: 90%;
  }
}
